body{

    background-image: url(abc.jpeg);
    background-repeat: no-repeat;
    
  
  }
  
  p{
      
      color: brown;
      text-align: center;
      text-transform: uppercase;
      padding-top: 40px;
    font-size: large;
  }
  h1{
      text-align: center;
      text-transform: capitalize;
      color: brown;
      padding-top: 20px;
      font-size: 60px;
      font-family: "Playfair Display", serif;
  }
  #ii{
      text-align: center;
      text-transform: lowercase;
      color: brown;
      
  }
  button {
  background-color: white;
  border: 1px solid white;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  margin-left: 540px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: small;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  
  }
  button:hover{
      background-color: yellowgreen;
  }
  .icons{
    display: fixed;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 585px;
  }
  
  
